### Segmenting & Clustering Part(II)

***Upload all necessary libraries and materials for project***

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

***define the variable for the coordinate csv***

In [22]:
gd=pd.read_csv('Geospatial_Coordinates.csv')
gd.head(11)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304

***define the variable "pbn" for the original dataframe from P1- and change Post Code to Postal Code***

In [19]:
pbn=pd.read_csv('postal_cann2.csv')
pbn.head(11)

   Postal Code           Borough     Neighbourhood
0          M3A        North York         Parkwoods
1          M4A        North York  Victoria Village
2          M5A  Downtown Toronto      Harbourfront
3          M5A  Downtown Toronto       Regent Park
4          M6A        North York  Lawrence Heights
5          M6A        North York    Lawrence Manor
6          M7A      Queen's Park      Not assigned
7          M9A         Etobicoke  Islington Avenue
8          M1B       Scarborough             Rouge
9          M1B       Scarborough           Malvern
10         M3B        North York   Don Mills North

***merge the coordinates document with the dataframe and merge to match***

In [23]:
gd=pd.read_csv('Geospatial_Coordinates.csv')
pbn=pd.read_csv('postal_cann2.csv')
gd.columns = ['Postal Code','Latitude','Longitude']
pbn1 =pd.merge(pbn,gd, on='Postal Code')

pbn1 = pbn1[pbn1['Borough'].str.contains('Toronto')].reset_index(drop=True)
pbn1.head(10)

  Postal Code           Borough       Neighbourhood   Latitude  Longitude
0         M5A  Downtown Toronto        Harbourfront  43.654260 -79.360636
1         M5A  Downtown Toronto         Regent Park  43.654260 -79.360636
2         M5B  Downtown Toronto             Ryerson  43.657162 -79.378937
3         M5B  Downtown Toronto     Garden District  43.657162 -79.378937
4         M5C  Downtown Toronto      St. James Town  43.651494 -79.375418
5         M4E      East Toronto         The Beaches  43.676357 -79.293031
6         M5E  Downtown Toronto         Berczy Park  43.644771 -79.373306
7         M5G  Downtown Toronto  Central Bay Street  43.657952 -79.387383
8         M6G  Downtown Toronto            Christie  43.669542 -79.422564
9         M5H  Downtown Toronto            Adelaide  43.650571 -79.384568

***define shape***

In [24]:
pbn1.shape

(74, 5)

***End of Part (II)***